/* for mobile */

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 10px;
  }

  .card {
    padding: 15px;
  }

  #locationInput {
    height: 35px;
    font-size: 1rem;
  }

  button.refresh {
    font-size: 22px;
    height: 40px;
    width: 40px;
  }

  .card h4 {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 0.9rem;
  }
}

/* it's for tablet and monitor/Desktops */

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 90%;
    max-width: 450px;
  }

  #locationInput {
    width: 100%;
    max-width: 350px;
  }

  button.refresh {
    font-size: 26px;
    height: 45px;
    width: 45px;
  }
}